Host *
    # 兼容旧 IOS 设备的 KEX 算法
    KexAlgorithms +diffie-hellman-group14-sha1,diffie-hellman-group1-sha1
    # 兼容旧加密算法
    Ciphers +aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc
    # 兼容旧 HostKey 算法
    HostKeyAlgorithms +ssh-rsa,ssh-dss
    # SuzieQ 需要的配置
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
